.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-content {
    padding-top: 20px;
}

.content {
    width: 760px;
    /* margin: auto; */
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.form-container {
    padding-bottom: 20px;
}

.footer{
    /* position: fixed; */
    bottom: 0px;
    width: 760px;
    text-align: center;
}

.footnote {
    color: rgb(114, 98, 69);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: bolder;
}

body {
    background: rgb(250, 250, 250);
    color: rgb(228, 119, 51);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    line-height: 150%;
    font-family: 'Fira Sans', sans-serif;
    font-size: 18px;
}

p {
    color: rgb(228, 119, 51);
    font-family: 'Source Sans 3', sans-serif;
    font-weight: lighter;
}

/* unvisited link */
a:link {
    color: rgb(114, 98, 69);
    font-weight: ligher;
}

/* visited link */
a:visited {
    color: rgb(114, 98, 69);
}

/* mouse over link */
a:hover {
    color: rgb(6, 48, 6);
}

/* selected link */
a:active {
    color: rgb(16, 117, 16);
}
