{% extends "base.html" %}

{% block title %}CRAW{% endblock %}

{% block body %}
  <div class="container">
    <div class="header">
      <h1 class="title">Circumpolar Race Around the World</h1>
      <h2 class="subtitle">Participating Team Spreadsheet Generator</h2>
    </div>

    <!-- video -->
    <div class="video-content">
        <iframe width="760" height="315" src="https://www.youtube.com/embed/F0oui252e9k?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <!-- project summary-->
    <div class="content">
      <p>The Circumpolar Race Around the World <a href="https://runsignup.com/Race/CHH/AnywhereAnyPlace/CircumpolarRaceAroundtheWorld">(CRAW)</a> is a virtual relay-race simulating 12 regions of the world. In this event, teams commit to race across 48,550 kilometers (30,167 miles) throughout the course of one year. Click <a href="https://runsignup.com/Race/Results/95983/TeamResults">here</a> to view teams' results broken down by region.</p>
      <p>Enter a team below to download their results for the <em>running event</em> of: <br>September 2020 - August 2021.</p>
    </div>
<!--  -->
    <!-- download button -->
    <div class="form-container">
      <form class="form" method="post">
        <input class="form-input" type="text" name="team-name" placeholder="Enter your team name" required />
        <button class="form-button" type="submit">Download</button>
      </form>
    </div>

    <div class="footer">
      <p class="footnote"><i>Please wait around 30 seconds for the Excel spreadsheet to be generated.</i></p>
    </div>
  </div>
{% endblock %}
