{% extends "base.html" %}

{%  block title %}CRAW{%  endblock %}

{%  block body %}
    <h1>Circumpolar Race Around the World</h1>
    <h2>Participating Team Spreadsheet Generator</h2>

    <!-- project summary -->
    <div class="content">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/F0oui252e9k?autoplay=1&mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p>The Circumpolar Race Around the World (CRAW) is a virtual relay-race throughout 12 regions of the world.
            <br>Teams race across 48,550 kilometers (30,167 miles) and complete the race in the course of one year.
            <br>
            <br> This webpage was made in commemoration of the team <em>In Jesper's Footsteps.</em>
            <br>
            <br>Enter a team name below to download a spreadsheet of their results for the event of:
            <br>September 2020 - Sepetember 2021.
        </p>
    </div>

    <br>
    <br>
    <br>

    <!-- download button -->
    <div class="container" align="left">
        <form method="post">
            <input type="text" name="Team Name" placeholder="Enter your team name"/>
            <button type="submit">Download</button>
        </form>
    </div>

    <br>
    <br>
    <br>
    <br>

    <div class="footer">
        <p>Visit <a href="url">https://runsignup.com/Race/Results/95983/TeamResults</a> to view team's results broken down by region.</p>
        <p class="footnote"><i>Please wait around 30 seconds for the Excel spreadsheet to be generated.</i></p>
    </div>

{%  endblock %}
