{% extends "base.html" %}

{%  block title %}Generator{%  endblock %}

{%  block content %}
    <h1>Circumpolar Race Around the World</h1>
    <h2>Spreadsheet Generator</h2>

    <div class="container" align="left">
        <form method="post" action="{{ url_for( 'export_spreadsheet' ) }}">
            <input type="text" name="Team Name" placeholder="Enter your team name"/>
            <button type="submit">Download</button>
        </form>
    </div>

    <p class="footnote">
        Please wait around 30 seconds for an Excel spreadsheet to be exported.
    </p>
{%  endblock %}